{% extends 'base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block bodyblock%}
<div class = "form contentBox">
	<h3>Hello, welcome to my portfolio site</h3>
</div>
<div class = "form contentBox">
	<div class="row">
	<div class="col-md-4">
		<img src="{% static 'images/me.png'%}" class="img-fluid"/>
	</div>
	<div class="col-md-8">
		<p>I am a university student studying Computing Science in Glasgow...</p>
		
	</div>
	</div>
</div>

<div class = "form contentBox">
	<h3>My Coding Statistics</h3>
	<div id="piechart"></div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Programming language', 'Bytes'],
  {%for key, value in languages.items%}
		["{{key}}",{{value}}],
	{% endfor%}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'width':550, 'height':400, 'backgroundColor': 'transparent','is3D':true, legendTextStyle: {color:'#FFFFFF'},titleTextStyle: {color:'#FFFFFF'},};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

{% endblock %}



