{% extends 'base.html' %}
{% load static %}
{% block title_block %}
	Homepage
{% endblock %}

{% block bodyblock%}
<div class = "form contentBox acrylic dropshadow ">
	<h3>Hello, welcome to my portfolio site</h3>
</div>
<div class = "form contentBox acrylic dropshadow ">
	<div class="row">
	<div class="col-md-4">
		<img src="{% static 'images/me.png'%}" class="img-fluid"/>
	</div>
	<div class="col-md-8">
		<p>Hi, welcome to my website. I am a student at the university of Glasgow studying computing science. I am currently a 2nd year student expected to achieve a 1st class degree. My main interests in computing are cross-platform app development, data science and big data and further cyber-security.</p>
		<p>Currently I have experience programming in Java and Python. In Java I can confidently create applications using Object Oriented Programming, Multithreading, and the Swing library for creating GUIs. Moreover, I have some limited experience with C# too. Further, I know how to program in Sigma16, which is an experimental low level programming language. I also know SQL and know how to use MySQL</p>
		<p>I also have experience in web development. I know HTML, CSS and Javascript, further I know how to use the Django framework which allows to make dynamic web applications using Python. Currently I am experimenting with AJAX on this website too.</p>
		<p>Now I am learning Kotlin and Flutter for mobile development, however I want to learn Swift during the summer too. Next year at university we are expected to learn C too.</p>
		<p>The biggest project I have done was making a Maze game (available on my Github) in Java for my final year school project. I tried to make it as modular as possible and as a result users can change basically every aspects of the game, from the background color to the language. It has thought me a lot, such as the importance of having a good and detailed design. Making prototypes to show my "customer" before actually starting to implement the application and setting deadlines and regularly updating the customer on how the application looks like.</p>
	</div>
	</div>
</div>

<div class = "form contentBox acrylic dropshadow ">
	<h3>My Coding Statistics</h3>
	<div id="piechart" style="width:100%; height: 500px;"></div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  var data = google.visualization.arrayToDataTable([
  ['Programming language', 'Bytes'],
  {%for key, value in languages.items%}
		["{{key}}",{{value}}],
	{% endfor%}
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'backgroundColor': 'transparent','is3D':true, legendTextStyle: {color:'#FFFFFF'},titleTextStyle: {color:'#FFFFFF'},};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

{% endblock %}



