body {
	background-attachment:fixed;
	height:100%;
	background-position: center; 
    background-repeat: no-repeat; 
	background-size: cover; 
}
.bodycontent{
	margin-top:80px;
}

.rotate-arrow{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
.smallIcon{
	width: 25px;
	height: 25px;
}

.contentBox{
	max-width:700px;
	margin-bottom: 15px;
    padding: 30px;
	margin: 50px auto;
}

p, h3{
	color: white;
}

.list-group-custom{
	background-color: rgba(0, 0, 0, 0);
	transition: 0.3s;
}

.list-group-custom:hover{
	background-color: rgba(220, 220, 220, 0.3);
	font-size: 110%;
	padding: 50px;
}

.greycontent{
	color: rgb(180,180,180);
}
.center-div{
	margin: auto;
}