body {
	background-attachment:fixed;
	height:100%;
	background-image: linear-gradient(#6b6b64, #4f4f4b);
}
.bodycontent{
	margin-top:80px;
}

.rotate-arrow{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
.smallIcon{
	width: 25px;
	height: 25px;
}

