{% extends 'base.html' %}
{% load static %}
{% block title_block %}
	Current Projects
{% endblock %}

{% block bodyblock%}
<div class = "form contentBox acrylic">
	<h3>Repository</h3>
	<div class="list-group">
		{%for el in project%}
			<div class="list-group-item list-group-item-action flex-column align-items-start list-group-custom">
					<h4>{{el.name}}</h4>
					<div class = "row">
					<div class="col-md-1">
						<i class="{{el.language_icon}}" style="font-size: 40px;"></i>
					</div>
					<div class="col-md-11">
						<p>{{el.details}}</p>
					</div>
					</div>
			</div>
		{%endfor%}
	</div>

	<div class="btn-group d-flex w-50 text-center center-div" role="group">
		{% if project_data.has_previous %}
			<a class="button" href="?page=1">first</a>
			<a class="button" href="?page={{ project.previous_page_number }}">previous</a>
		{% endif %}
			<a class="button" href="#">{{ project.number }} of {{ project.paginator.num_pages }}.</a>
		
		{% if project_data.has_next %}
			<a class="button" href="?page={{ project.next_page_number }}">next</a>
			<a class="button" href="?page={{ project.paginator.num_pages }}">last</a>
		{% endif %}

	</div>

</div>

{% endblock %}