{% extends 'base.html' %}
{% load static %}
{% block title_block %}
	Current Projects
{% endblock %}

{% block bodyblock%}
<div class = "form contentBox acrylic">
	<h3>Current Projects</h3>
	<div class="list-group">
		{%for el in project%}
			<div class="list-group-item list-group-item-action flex-column align-items-start list-group-custom">
					<h4>{{el.name}}</h4>
					<div class = "row">
						<div class="col-md-1">
							<i class="{{el.language_icon}}" style="font-size: 40px;"></i>
						</div>
						<div class="col-md-11">
							<p>{{el.details}}</p>
							{%if el.images%}
								<div id="imgCarousel" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
										{%for img in el.images%}
										<div class="carousel-item active">
											<img class="d-block w-100" src="{{ MEDIA_URL }} {{img.image}}" alt="First slide">
										</div>
										{%endfor%}
									</div>
									<a class="carousel-control-prev" href="#imgCarousel" role="button" data-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="carousel-control-next" href="#imgCarousel" role="button" data-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>
							{%endif%}
						</div>
					</div>
			</div>
		{%endfor%}
	</div>

	<div class="btn-group d-flex text-center center-div" role="group">
		{% if project_data.has_previous %}
			<a class="button reveal" href="?page=1">first</a>
			<a class="button reveal" href="?page={{ project.previous_page_number }}">previous</a>
		{% endif %}
			<a class="button" href="#">{{ project.number }} of {{ project.paginator.num_pages }}.</a>
		
		{% if project_data.has_next %}
			<a class="button reveal" href="?page={{ project.next_page_number }}">next</a>
			<a class="button reveal" href="?page={{ project.paginator.num_pages }}">last</a>
		{% endif %}

	</div>

</div>

{% endblock %}