{% extends 'base.html' %}
{% load static %}
{% block title_block %}
	Repository
{% endblock %}

{% block bodyblock%}
<div class = "form contentBox acrylic">
	<h3>Repository</h3>
	<div class="list-group">
		{%for el in project_data%}
			<a href="{{el.Link}}" class="list-group-item list-group-item-action flex-column align-items-start list-group-custom">
					<h4>{{el.Name}}</h4>
					<div class = "row">
					<div class="col-md-1">
						<i class="{{el.language_icon}}" style="font-size: 40px;"></i>
					</div>
					<div class="col-md-11">
						{%for curContrib in el.Contributors %}
							<p>{{curContrib.Name}}   Commits: {{curContrib.Contribution}}</p>
						{%endfor%}
						<p>{{el.Description}}</p>
					</div>
					</div>
			</a>
		{%endfor%}
		<div class="btn-group d-flex w-50 text-center center-div" role="group">
			{% if project_data.has_previous %}
				<a class="button" href="?page=1">first</a>
				<a class="button" href="?page={{ project_data.previous_page_number }}">previous</a>
			{% endif %}
				<a class="button" href="#">{{ project_data.number }} of {{ project_data.paginator.num_pages }}.</a>
			
			{% if project_data.has_next %}
				<a class="button" href="?page={{ project_data.next_page_number }}">next</a>
				<a class="button" href="?page={{ project_data.paginator.num_pages }}">last</a>
			{% endif %}

		</div>
	</div>
</div>

{% endblock %}